In [2]:
import pandas as pd
import os 
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm

In [16]:
vent = pd.read_csv('../Collaboratory/COPD/vent_anon.csv')
vent.head()

/opt/tljh/user/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2,3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,VENT_TYPE,VENT_MODE,VENT_RATE_SET,VENT_TIDAL_RATE_SET,VENT_TIDAL_RATE_EXHALED,PEEP,FIO2,empi_anon,recorded_time_anon,vent_start_time_anon,vent_stop_time_anon
0,Hamilton G5,APV CMV,20,310,312,10,1.00,13976007,2022-05-08 15:03:00,2022-05-08 15:03:00,2022-05-17 11:25:00
1,NaN,NaN,NaN,NaN,NaN,8,0.75,13976007,2022-05-08 15:26:00,2022-05-08 15:03:00,2022-05-17 11:25:00
2,NaN,NaN,NaN,NaN,NaN,6,0.60,13976007,2022-05-08 16:29:00,2022-05-08 15:03:00,2022-05-17 11:25:00
3,Hamilton G5,APV CMV,20,310,306,6,0.45,13976007,2022-05-08 16:34:00,2022-05-08 15:03:00,2022-05-17 11:25:00
4,Hamilton G5,APV CMV,20,NaN,316,6,0.45,13976007,2022-05-08 20:00:00,2022-05-08 15:03:00,2022-05-17 11:25:00

In [104]:
copd = pd.read_csv('../Collaboratory/COPD/copd_no_phi.csv', index_col=0)

In [105]:
copd10 = ['J41.0', 'J41.1', 'J41.8', 'J42', 'J43.0', 'J43.1', 'J43.2', 'J43.8', 'J43.9', 'J44.0', 'J44.1', 'J44.9', 'J98.2', 'J98.3']
copd9 = ['466.0', '491.20', '491.21', '491.22', '492.8', '493.20', '493.21', '493.22', '494.0', '494.1', '495.9', '496']

In [106]:
icd9 = []
for i in copd9:
    icd9.append(float(i))

In [107]:
copd_patient = np.unique(copd.loc[copd['ICD-9 Diagnosis'].isin(icd9), 'empi_anon'].values)

len(copd_patient)

10356

In [96]:
# def pull_data(base_path, data_type):
    
#     years = [os.path.join(base_path, x) for x in os.listdir(base_path) if os.path.isdir(os.path.join(base_path, x))]
#     proc_files = []
#     for path in years:
#         tmp = os.listdir(path)
#         for fi in tmp:
#             if data_type.lower() in fi.lower() and ('2019' in fi.lower() or '2020' in fi.lower()):
#                 proc_files.append(os.path.join(path, fi))
#     print(proc_files)
#     data = pd.DataFrame()
    

#     for file in tqdm(proc_files):
#         tmp = pd.read_csv(file)
#         data = pd.concat([data, tmp], axis=0, ignore_index=True)
    
#     data = data.drop_duplicates() #removes date overlaps
#     return data

In [ ]:
# diagnosis = pull_data('/data/EM_HOSP_DATA/', 'DIAGNOSIS')

In [24]:
# diagnosis.loc[diagnosis[(diagnosis['DX_CODE_ICD9'].isin(copd9)) | (diagnosis['DX_CODE_ICD10'].isin(copd10))].index, 'outcome'] = 1
# diagnosis['outcome'].fillna(0, inplace=True)

In [25]:
# copd_empis = diagnosis[diagnosis['outcome'] == 1]['empi_anon'].unique()

In [26]:
# len(copd_empis)

17033

In [14]:
new_vent_types = ['Other: NC', 'Other: hfnc', 'Other: NIV refused',
'Other: pt on ra...in no respiratory distress..bipap not in croom', 'Other: Room air',
 'Other: none', 'Other: patient is confused and refues to wear cap', 'Other: patient is confused and refuse to wear cap'
 'Other: PT refused to wear', 'Other: pt refused', 'Other: hi flow nc',
 'Other: Patient extubated per CCM placed on 3l/m nasal cannula','Other: extubated',
 'Other: pt home unit, pt not wearing']

In [17]:
images_to_exclude = pd.DataFrame(columns=['empi_anon', 'vent_type', 'study_date_anon'])
for i, r in vent.iterrows():
    vent_status = r['VENT_TYPE']
    ID = r['empi_anon']
    
    if not (vent_status in new_vent_types):
        images_to_exclude = images_to_exclude.append(pd.DataFrame({'empi_anon':ID, 'vent_type':vent_status, 'study_date_anon':r['recorded_time_anon']}, index=[0]), ignore_index=True)
    else:
        continue

In [84]:
cxr_meta = pd.read_csv('/data/Emory_CXR_Project/EM_CXR_META_ANON_FINAL.csv')

/opt/tljh/user/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (172) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [85]:
for ID in np.unique(images_to_exclude['empi_anon'].values):
    invalid_date = images_to_exclude.loc[images_to_exclude['empi_anon']==ID, 'study_date_anon'].values
    
    temp = cxr_meta.loc[cxr_meta['empi_anon']==ID]
    idx = temp[temp['StudyDate_anon'].isin(invalid_date)].index
    
    if (len(idx > 0)):
        cxr_meta = cxr_meta.drop(idx)
    
    else:
        continue

In [91]:
gender_array = []
copd_array = []
races_array = []
age_array = []
for i in np.unique(cxr_meta['empi_anon'].values):
    row = cxr_meta.loc[cxr_meta['empi_anon']==i]
    
    if (np.unique(row['Gender'])=='Male'):
        gender_array.append(1)
    else:
        gender_array.append(0)
        
    if (np.unique(row['Race'])=='WHITE'):
        races_array.append(0)
    elif (np.unique(row['Race'])=='BLACK/AFRICAN AMERICAN'):
        races_array.append(1)
    elif (np.unique(row['Race'])=='HISPANIC/LATINO'):
        races_array.append(2)
    elif (np.unique(row['Race'])=='OTHER' or np.unique(row['Race'])=='NATIVE'):
        races_array.append(3)
    elif (np.unique(row['Race'])=='ASIAN'):
        races_array.append(4)
    else:
        races_array.append(3)
    
    if (np.unique(row['age'])=='0-20'):
        age_array.append(0)
    elif (np.unique(row['age'])=='20-40'):
        age_array.append(1)
    elif (np.unique(row['age'])=='40-60'):
        age_array.append(2)
    elif (np.unique(row['age'])=='60-80'):
        age_array.append(3)
    else:
        age_array.append(4)
        
    if (np.unique(row['empi_anon']) in copd_patient):
        copd_array.append(1)
    else:
        copd_array.append(0)

In [92]:
len(np.where(np.array(copd_array)==1)[0])/len(np.where(np.array(copd_array)==0)[0])

0.12919203513324684

In [111]:
from tableone import TableOne

df = pd.DataFrame({'subject_id':np.unique(cxr_meta['empi_anon'].values), 'gender': gender_array, 
                              'age':age_array, 'race': races_array,
                              'COPD':copd_array
                             })

columns = ['gender', 'race', 'age']
categorical = ['gender', 'race', 'age']
groupby = 'COPD'
mytable = TableOne(df, columns=columns, categorical=categorical,
                   groupby=groupby, pval=True)

mytable

                Grouped by COPD
                        Missing       Overall             0            1 P-Value
n                                       90507         80152        10355
gender, n (%) 0               0  48471 (53.6)  43551 (54.3)  4920 (47.5)  <0.001
              1                  42036 (46.4)  36601 (45.7)  5435 (52.5)
race, n (%)   0               0  38065 (42.1)  32728 (40.8)  5337 (51.5)  <0.001
              1                  42370 (46.8)  38057 (47.5)  4313 (41.7)
              2                    1572 (1.7)    1447 (1.8)    125 (1.2)
              3                    5207 (5.8)    4866 (6.1)    341 (3.3)
              4                    3293 (3.6)    3054 (3.8)    239 (2.3)
age, n (%)    0               0    2329 (2.6)    2313 (2.9)     16 (0.2)  <0.001
              1                  17219 (19.0)  16925 (21.1)    294 (2.8)
              2                  26916 (29.7)  25044 (31.2)  1872 (18.1)
              3                  33088 (36.6)  27130 (33.8)  5958 (57.5)
              4                  10955 (12.1)   8740 (10.9)  2215 (21.4)

In [112]:
from sklearn.model_selection import train_test_split

subject_ids = np.unique(np.array(cxr_meta['empi_anon']))
train, test = train_test_split(subject_ids, test_size=0.2, random_state=42)
train, val = train_test_split(train, test_size=0.2, random_state=42)

In [113]:
def get_age_interval(age):
    if (age == '0-20' or age == '20-40'):
        return 0
    elif (age == '40-60'):
        return 1
    elif (age == '60-80'):
        return 2
    elif (age == '80-'):
        return 3
    else:
        return 3

def get_gender(gender):
    if (gender=='Female'):
        return 0
    elif (gender == 'Male'):
        return 1
    else:
        return 1
    
def get_race(race):
    if (race == 'WHITE'):
        return 0
    elif (race == 'BLACK/AFRICAN AMERICAN'):
        return 1
    elif (race == 'HISPANIC/LATINO'):
        return 2
    elif (race == 'OTHER' or race == 'NATIVE'):
        return 3
    elif (race == 'AISAN'):
        return 3
    else:
        return 4

In [114]:
from PIL import Image, ImageOps
import io

imgs = []
gender = []
age = []
race = []
copd = []

for i in train:  
    r = cxr_meta.loc[cxr_meta['empi_anon']==i]
    
    try:
        for j in r['hiti_path'].values:
            img = Image.open(j)

            img = img.resize((256,256), Image.ANTIALIAS)

            img = ImageOps.equalize(img)
            imgByteArr = io.BytesIO()
            img.save(imgByteArr, format='JPEG')
            imgByteArr = imgByteArr.getvalue()
            imgs.append(imgByteArr)

            gender.append(get_gender(np.unique(r['Gender'].values)))
            age.append(get_age_interval(np.unique(r['age'].values)))
            race.append(get_race(np.unique(r['Race'].values)))

            if (np.unique(r['empi_anon']) in copd_patient):
                copd.append(1)
            else:
                copd.append(0)

    except:
        continue

In [115]:
import tensorflow as tf

record_file_test = 'copd_emory_train.tfrecords'

with tf.io.TFRecordWriter(record_file_test) as writer:
    for i in range(len(imgs)):
        example = tf.train.Example() #default module in TFrecord 
        
        example.features.feature['jpg_bytes'].bytes_list.value.append(imgs[i])  

        example.features.feature['COPD'].int64_list.value.append(copd[i])
                
        example.features.feature['race'].int64_list.value.append(race[i])
        
        example.features.feature['age'].int64_list.value.append(age[i])
        
        example.features.feature['gender'].int64_list.value.append(gender[i])
        
        # append label to the example
        
        writer.write(example.SerializeToString())

In [116]:
from PIL import Image, ImageOps
import io

imgs = []
gender = []
age = []
race = []
copd = []

icd = [466., 491.2, 491.21, 491.22, 492.8, 493.2, 493.21, 493.22, 494., 494.1, 495.9, 496]

for i in val:  
    r = cxr_meta.loc[cxr_meta['empi_anon']==i]
    
    try:
        for j in r['hiti_path'].values:
            img = Image.open(j)

            img = img.resize((256,256), Image.ANTIALIAS)

            img = ImageOps.equalize(img)
            imgByteArr = io.BytesIO()
            img.save(imgByteArr, format='JPEG')
            imgByteArr = imgByteArr.getvalue()
            imgs.append(imgByteArr)

            gender.append(get_gender(np.unique(r['Gender'].values)))
            age.append(get_age_interval(np.unique(r['age'].values)))
            race.append(get_race(np.unique(r['Race'].values)))

            if (np.unique(r['empi_anon']) in copd_patient):
                copd.append(1)
            else:
                copd.append(0)

    except:
        continue

In [117]:
import tensorflow as tf

record_file_test = 'copd_emory_val.tfrecords'

with tf.io.TFRecordWriter(record_file_test) as writer:
    for i in range(len(imgs)):
        example = tf.train.Example() #default module in TFrecord 
        
        example.features.feature['jpg_bytes'].bytes_list.value.append(imgs[i])  

        example.features.feature['COPD'].int64_list.value.append(copd[i])
                
        example.features.feature['race'].int64_list.value.append(race[i])
        
        example.features.feature['age'].int64_list.value.append(age[i])
        
        example.features.feature['gender'].int64_list.value.append(gender[i])
        
        # append label to the example
        
        writer.write(example.SerializeToString())

In [118]:
from PIL import Image, ImageOps
import io
ﬁ
imgs = []
gender = []
age = []
race = []
copd = []

icd = [466., 491.2, 491.21, 491.22, 492.8, 493.2, 493.21, 493.22, 494., 494.1, 495.9, 496]

for i in test:  
    r = cxr_meta.loc[cxr_meta['empi_anon']==i]
    
    try:
        for j in r['hiti_path'].values:
            img = Image.open(j)

            img = img.resize((256,256), Image.ANTIALIAS)

            img = ImageOps.equalize(img)
            imgByteArr = io.BytesIO()
            img.save(imgByteArr, format='JPEG')
            imgByteArr = imgByteArr.getvalue()
            imgs.append(imgByteArr)

            gender.append(get_gender(np.unique(r['Gender'].values)))
            age.append(get_age_interval(np.unique(r['age'].values)))
            race.append(get_race(np.unique(r['Race'].values)))

            if (np.unique(r['empi_anon']) in copd_patient):
                copd.append(1)
            else:
                copd.append(0)

    except:
        continue

In [119]:
import tensorflow as tf

record_file_test = 'copd_emory_test.tfrecords'

with tf.io.TFRecordWriter(record_file_test) as writer:
    for i in range(len(imgs)):
        example = tf.train.Example() #default module in TFrecord 
        
        example.features.feature['jpg_bytes'].bytes_list.value.append(imgs[i])  

        example.features.feature['COPD'].int64_list.value.append(copd[i])
                
        example.features.feature['race'].int64_list.value.append(race[i])
        
        example.features.feature['age'].int64_list.value.append(age[i])
        
        example.features.feature['gender'].int64_list.value.append(gender[i])
        
        # append label to the example
        
        writer.write(example.SerializeToString())

In [120]:
filename = ['copd_emory_test.tfrecords', 'copd_emory_train.tfrecords', 'copd_emory_val.tfrecords']
raw_dataset = tf.data.TFRecordDataset(filename)
copd = []
age = []
gender = []
race = []
subject_id = []

for raw_record in raw_dataset:
    #loads data  from the trecord all info 
    example = tf.train.Example() # subject id and study_id (contains several chest Xrays) 
    example.ParseFromString(raw_record.numpy()) #reads the example 
    
    copd.append(example.features.feature['COPD'].int64_list.value[0])
    race.append(example.features.feature['race'].int64_list.value[0])
    
    try:
        age.append(example.features.feature['age'].int64_list.value[0])
        gender.append(example.features.feature['gender'].int64_list.value[0])
        subject_id.append(example.features.feature['subject_id'].int64_list.value[0])
    except:
        age.append(-1)
        gender.append(-1)
        subject_id.append(-1)

185847

In [121]:
len(np.where(np.array(copd)==1)[0])

40796